<html>
    <head>
        <title>ToDoLists</title>
        <style>
            </style>
    </head>
    <body>
        <h1>To Do Lists!</h1>
        <div>
            <p>Welcome!</p>
            <p>To get started, click on a list to edit it, or create a new list.</p>
            <hr>
            <table style="width: 50%">
                <th>list</th>
                <th></th>
                <th></th>
                <th></th>
                <th>date created</th>
                <th>date done</th>
                {% for item in non_done_lists %}
                <tr>
                    <td><a href="{{ url_for('editList',list_name=item) }}">{{ item }}</a></td>
                    <td><a href="{{ url_for('markDoneList',list_name=item) }}">done</a></td>
                    <!-- <td><form action = "{{ url_for('markDoneList',list_name=item) }}"><input type="submit" value="done"/></form></td> -->
                    <td><a href="{{ url_for('renameList',list_name=item) }}">rename</a></td>
                    <!-- <td><form action = "{{ url_for('renameList',list_name=item) }}"><input type="submit" value="rename"/></form></td> -->
                    <!-- <td><form action = "{{ url_for('deleteList',list_name=item) }}"><input type="submit" value="delete"/></form></td> -->
                    <td><a href="{{ url_for('deleteList',list_name=item) }}">delete</a></td>
                    <td>{{ item.date_created }}</td>
                    <td>{{ item.date_done }}</td>
                </tr>
                {% endfor %}
                <tr class="form">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <td>{{ form.user_input }}</td>
                    <td>{{ form.submit }}</td>                     
                </tr>
                <tr><p> </p></tr>
                <tr>
                    {% for item in done_lists %}
                    <td><a href="{{ url_for('editList',list_name=item) }}"><del>{{ item }}</del></a></td>
                    <td><a href="{{ url_for('markNotDoneList',list_name=item) }}">not done</a></td>
                    <!-- <td><form action = "{{ url_for('markNotDoneList',list_name=item) }}"><input type="submit" value="not done"/></form></td> -->
                    <td><a href="{{ url_for('renameList',list_name=item) }}">rename</a></td>
                    <!-- <td><form action = "{{ url_for('renameList',list_name=item) }}"><input type="submit" value="rename"/></form></td> -->
                    <td><a href="{{ url_for('deleteList',list_name=item) }}">delete</a></td>
                    <!-- <td><form action = "{{ url_for('deleteList',list_name=item) }}"><input type="submit" value="delete"/></form></td> -->
                    <td>{{ item.date_created }}</td>
                    <td>{{ item.date_done }}</td>
                </tr>
                {% endfor %}
            </table>
            <hr>
            <p>{{ message }}</p>
        </div>
    </body>
</html>
